<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

        <!-- Permissions -->
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission
            android:name="android.permission.FOREGROUND_SERVICE"
            tools:ignore="ForegroundServicesPolicy" />
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

        <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.BrightBudsApp">

                <!-- Launcher splash screen -->
                <activity
                    android:name=".activities.LauncherActivity"
                    android:exported="true"
                    android:theme="@style/Theme.BrightBudsApp">
                        <intent-filter>
                                <action android:name="android.intent.action.MAIN" />
                                <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
                </activity>

                <!-- Landing Page  -->
                <activity
                    android:name=".activities.LandingActivity"
                    android:exported="false"
                    android:theme="@style/Theme.BrightBudsApp" />


                <!-- Authentication -->

                <activity
                    android:name=".activities.RegisterActivity"
                    android:label="Register"
                    android:exported="false"
                    android:theme="@style/Theme.BrightBudsApp" />

                <!-- Dashboards -->
                <activity
                    android:name=".activities.ParentDashboardActivity"
                    android:label="Parent Dashboard"
                    android:exported="false" />
                <activity
                    android:name=".activities.ChildDashboardActivity"
                    android:label="Child Dashboard"
                    android:exported="false" />

                <!-- Child Management -->
                <activity android:name=".activities.ChildSelectionActivity" />




                <!-- Login Screen -->
                <activity
                    android:name=".activities.LoginActivity"
                    android:label="Login"
                    android:exported="false"
                    android:theme="@style/Theme.BrightBudsApp" />


                <!-- Terms and Conditions -->
                <activity
                    android:name=".activities.TermsConditionsActivity"
                    android:label="Terms and Conditions"
                    android:exported="false"
                    android:theme="@style/Theme.BrightBudsApp"
                    android:parentActivityName=".activities.RegisterActivity" />

                <!-- Learning and Utility Modules -->


                <activity android:name=".activities.GameModulesActivity" />
                <activity android:name=".activities.ComingSoonActivity" />
                <activity android:name=".activities.FeedMonsterActivity" />
                <activity android:name=".activities.MemoryMatchActivity" />
                <activity android:name=".activities.WordBuilderActivity" />

                <!-- Song activities (local video) -->
                <activity
                    android:name=".activities.ABCSongActivity"
                    android:exported="false" />
                <activity
                    android:name=".activities.NumbersSongActivity"
                    android:exported="false" />
                <activity
                    android:name=".activities.ShapesSongActivity"
                    android:exported="false" />

                <!-- Match the Letter -->
                <activity
                    android:name=".activities.MatchLetterActivity"
                    android:exported="false"
                    android:theme="@style/Theme.BrightBudsApp" />

                <activity
                    android:name=".activities.FamilyGalleryActivity"
                    android:exported="false"
                    android:theme="@style/Theme.BrightBudsApp" />

                <activity
                    android:name=".activities.FeedbackActivity"
                    android:label="Feedback"
                    android:exported="false"
                    android:theme="@style/Theme.BrightBudsApp" />

                <activity
                    android:name=".activities.ManageProfilesActivity"
                    android:exported="false"
                    android:theme="@style/Theme.BrightBudsApp" />

                <activity
                    android:name=".activities.AddFamilyMemberActivity"
                    android:exported="false" />

                <activity
                    android:name=".activities.ChartsAndInsightsActivity"
                    android:exported="false" />

                <activity android:name=".activities.AllChildrenChartsPdfActivity" />

                <activity
                    android:name=".activities.ChildReportActivity"
                    android:exported="false" />
                <activity android:name=".activities.AllChildrenReportActivity" />

                <!-- Reports dashboard screen -->
                <activity
                    android:name=".activities.ReportsDashboardActivity"
                    android:exported="false"
                    android:theme="@style/Theme.BrightBudsApp" />

                <activity
                    android:name=".activities.EditChildActivity"
                    android:exported="false" />


                <provider
                    android:name="androidx.core.content.FileProvider"
                    android:authorities="${applicationId}.fileprovider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                        <meta-data
                            android:name="android.support.FILE_PROVIDER_PATHS"
                            android:resource="@xml/file_paths" />
                </provider>


        </application>

</manifest>
